@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
   background-image: url('./../images/bg.webp');
   color: white;
   font-family: "Rubik";
   letter-spacing: 2px;

}


.sidebar{
   position: fixed;
   width: 20%;
   top:0;
   left: 0;
   bottom: 0;
   background: #111;
   padding-top: 50px;
   overflow-y: scroll;
   
}
 
.sidebar img{
   display: block;
   height: 5%;
   padding:0px 20px;
   margin-bottom: 2rem;
}

.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   letter-spacing: 2px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}


main
{
   text-align: center;
   margin-left: 20%;
   
}

h1{
   text-transform: uppercase;
   margin-bottom: 3.5rem;
}
h2{
   font-size: 1.25rem;
}



