@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   margin: 0;
   background-image: url('/images/bg.webp');
   font-family: "Rubik";
   letter-spacing: 2px;
   background-size: cover;
   background-repeat: no-repeat;
}

.main a{
   color: rgb(10, 80, 98);
}

.sidebar{
   overflow-y:auto
   
}
 
.sidebar img{
   display: block;
   height: 5%;
   padding:0px 20px;
   margin-bottom: 2rem;
}

.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}
.main
{
   color: white;
	display: inline-block;
   text-align: center;
}

footer {
   align-items: center;
   justify-content: space-evenly;
}

li{
   list-style: none;
}

footer {
   padding: 3rem;
}

li p{
   margin: 0;
}
footer a{
   text-decoration: none;
   color: aliceblue;
}


.button{
   color: white;
   text-decoration: none;
   display: inline-block;
   margin: 1rem;
   padding: 1rem 2rem;
   background-color: rgba(80, 82, 88, 0.5);
   border-radius: 4px;
}

.button :hover{
   transition: all 1s ease-in-out;
   cursor: pointer;
}

.sublist li{
   list-style: inside;
}